EXPO_PUBLIC_API_BASE_URL=https://safescan-qr.onrender.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=230684501873-4aauu1triudaaopdcus2k7achvesr3el.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_ADMIN_EMAILS=homzajoe@gmail.com,restreposamuel2004@gmail.com
APP_ENV=development
